@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.secondaryHeader {
  position: fixed;
  top:120px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background: rgba(20, 156, 133, 0.49);
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 13px;
}

.signoutContainer, .notificationsContainer, .addNewTeamContainer {
  height: 40px;
  line-height: 3;
  padding: 0 10px;
  box-sizing: border-box;
}

.signoutContainer:hover, .notificationsContainer:hover, .addNewTeamContainer:hover {
  cursor: pointer;
  background: rgba(69, 90, 100, 0.91);
  border-bottom: 3px solid #009688;
  animation: fadeIn 1.5s;
}

.searchTeam {
  box-sizing: border-box;
  height: 40px;
  line-height: 3.2;
}

.searchedTeamcontainer {
  color: grey;
  background: #ffffff8c;
  height: 80px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  animation: fadeIn 2s;
  font-size: 14px;
  line-height: 5;
  overflow: scroll;
}

.submitButton{
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px !important;
  font-weight: lighter;
  background: #238d83;
  color: #FFFFFF;
  z-index: 20;
}

.submitButton:hover {
  cursor: pointer;
  background: #2aafa2;
}

.teamsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myTeams {
  box-sizing: border-box;
  position: relative;
  top: 80px;
  height: 500px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.team button {
  background: rgba(69, 90, 100, 0.42);
  color: #fff;
  font-weight: lighter;
  padding: 7px 13px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 8px;
  width: 20rem;
  height: 60px;
  margin: 5px 0px;
}

.myTeams button:hover {
  cursor: pointer;
  color: #009688;
  background: none;
  border: 2px solid #009688;
  animation: fadeIn 2s;
}

.teamsHeader {
  position: fixed;
  top: 180px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: rgba(72, 75, 73, 0.85);
  z-index: 10;
  pointer-events: none;
}

.newNotification {
  background: rgba(227, 26, 14, 0.67);
  animation: blinking 1s infinite;
}

.newNotification:hover {
  border-bottom: 3px solid #c20003;
}

.overlay {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.21);
  z-index: 100;
}

.popupContainer {
  width: 500px;
  height: 300px;
  background: #FFF;
  border-radius: 5px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  margin: 30px 0;
}

.cancel {
  color: #FFF;
  width: 275px;
  height: 30px;
  border: none;
  background: #097b71;
  border-radius: 20px;
  margin-right: 13px;
}

.cancel:hover {
  cursor: pointer;
  background: #094b41;
}

.cancel:focus {
  outline: unset;
}

.fa-search, .fa-plus-circle{
  color: grey;
  position: relative;
  left: -20px;
}

.fa-search:hover {
  color: #009688;
  cursor: pointer;
}

.fa-caret-right {
  color: grey;
  margin: 0 10px;
}

.invalid {
  border: 1px solid red;
  animation: blinking 1s 3s;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes blinking{
  0%{ color: #FFFFFF }
  50%{ color: transparent }
  100%{ color: #FFFFFF }
}
